<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/asiento.css">
    
    <title>Document</title>
</head>
<body>
    <div class="ticket-container">
        <div class="back-button"><img src="../storage/retroceder.svg" alt="Retroceder"></div>
        <div class="more-options">&bull;&bull;&bull;</div>
        <div class="header">Choose Seat</div>
    </div>
    <div class="screen">
        <img src="../storage/Group 18102.svg" alt="Pantalla">
    </div>
    <section class="asientos">
        <form id="myform">
            <div id="asientos">
                <article class="asientos__normal">
                </article>
                <article class="asientos__preferenciales">
                </article>
            </div>
            <article class="asientos__menu">
                <div>
                    <div class="ciruclo1"></div> <label>Available</label>
                </div>
                <div>
                    <div class="ciruclo2"></div> <label>Reserved</label>
                </div>
                <div>
                    <div class="ciruclo3"></div> <label>Selected</label>
                </div>
            </article>
            <section id="selectDates" class="dates">
                <div class="day">
                </div>
                <div class="time">     
                </div>
            </section>
            <footer>
                <div class="price">
                </div>
                <button type="submit" class="buy">Buy Ticket</button>
            </footer>
        </form>
    </section>
<script src="../js/module/asiento.js"></script>
</body>
</html>