<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/boleta.css">
    <title>Movie Ticket</title>
    
</head>
<body>
    <div class="ticket-container">
        <div class="back-button">&larr;</div>
        <div class="more-options">&bull;&bull;&bull;</div>
        <div class="header">Ticket</div>
        <div id="ticket" class="content">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
    <script src="../js/module/boleta.js"></script>
</body>
</html>
