<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/boleta.css">
    <title>Movie Ticket</title>
    
</head>
<body>
    <div class="ticket-container">
        <div class="back-button">&larr;</div>
        <div class="more-options">&bull;&bull;&bull;</div>
        <div class="header">Ticket</div>
        <div class="content">
            <div class="movie-poster">
                <img src="../storage/Rectangle 4170.webp" alt="Poster">
            </div>
        
            <div class="movie-title">Puss In Boots: The Last Wish</div>
            <div class="sub-text">Show this ticket at the entrance</div>

            <hr class="linea-media">
            
            <div class="row">
                <div class="info">
                    <div class="info-title">Cinema</div>
                    <div class="info-detail-name">HARTONO MALL 12</div>
                </div>
                <div class="img">
                    <img src="../storage/Rectangle 10.png" alt="Cine">
                </div>
            </div>

            <div class="row1">
                <div class="info">
                    <div class="info-title">Date</div>
                    <div class="info-detail">Sun, Feb 12th 2023</div>
                </div>
                <div class="info">
                    <div class="info-title">Time</div>
                    <div class="info-detail">13:00</div>
                </div>
            </div>

            <div class="row2">
                <div class="info">
                    <div class="info-title">Cinema Hall #</div>
                    <div class="info-detail">Cinema A</div>
                </div>
                <div class="info">
                    <div class="info-title">Seat</div>
                    <div class="info-detail">C5</div>
                </div>
            </div>

            <div class="row3">
                <div class="info">
                    <div class="info-title">Cost</div>
                    <div class="info-detail">$26.99</div>
                </div>
                <div class="info">
                    <div class="info-title">Order ID</div>
                    <div class="info-detail">12345678</div>
                </div>
            </div>
            <div class="lineas">------------------</div>
            <div class="barcode">
                <img src="../storage/Barcode.svg" alt="Codigo de barras">
            </div>
        </div>
    </div>

</body>
</html>
