<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema Selection</title>
    <link rel="stylesheet" href="../css/cliente.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <section class="top_selection">
            <button class="back-button">
                <i class='bx bx-chevron-left bx-burst-hover'></i>
            </button>
            <h3>Cinema Selection</h3>
            <button>
                <i class='bx bx-dots-vertical-rounded'></i>
            </button>
        </section>
    </header>
    <main id="main">
        <section class="movie_selected">
            <article class="movie_image">
                <img src="" alt="ElBotas">
            </article>
            <article class="movie_data">
                <div class="movie_details">
                    <div class="movie_title_genre">
                        <h3></h3>
                        <p></p>
                    </div>
                    <button class="movie_trailer">▶ Watch Trailer</button>
                </div>
                <div class="movie_sinopsis">
                    <p></p>
                </div>
            </article>
            <article class="movie_casting">
                <h3>Cast</h3>
                <div class="carousel_cast">
                    
                </div>
            </article>
            <article class="cinemas">
                <h3>Cinema</h3>
                <div class="cinema-list">
                    <button class="cinema-item">
                        <div class="cinema-details">
                            <h4>CineCampus</h4>
                            <p class="cinema-location">CampusLands, Zona Franca, Floridablanca</p>
                        </div>
                        <div class="cinema-logo">
                            <img src="../storage/Rectangle 376.png" alt="Atrium Cinemas">
                        </div>
                    </button>
                    <div class="cinema-item">
                        <div class="cinema-details">
                            <h4>CineCampus</h4>
                            <p class="cinema-location">CampusLands, Zona Franca, Floridablanca</p>
                        </div>
                        <div class="cinema-logo">
                            <img src="../storage/Rectangle 376.png" alt="Atrium Cinemas">
                        </div>
                    </div>
                </div>
            </article>
    
            <footer>
                <button class="book-button">Book Now</button>
            </footer>
        </section>
    </main>
    <script src="../js/module/cliente.js"></script>
</body>
</html>