<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="../css/lugar.css">
    
    
    <title>Lugar </title>
</head>
<body>
    <div class="main-container">
        <header class="header">
            <img src="../storage/Image.png" alt="Profile Picture">
            <div class="main-title">
                <small></small>
                <div>Let's watch movie together!</div>
            </div>
            <button aria-label="Notificaciones"><img src="../storage/notificacion.svg" alt="Notificaciones Icono"></button>
        </header>

        <div class="search-container">
            <img src="../storage/lupa.svg" alt="Search Icon" class="search-icon">
            <input type="text" class="search-bar" placeholder="Search movie, cinema, genre...">
        </div>

        <div class="playing">
            <h2 class="section-title">Now playing</h2>
            <span class="see-all">See all</span>
        </div>
    </div>
    <div id="galeria" class="gallery" >
    </div>
    <div class="container-soon">
        <h2 class="section-title">Coming soon</h2>
        <span class="see-all">See all</span> 
    </div>
    <div id="movie-soon" class="main-container-soon">
    </div> 
    <footer class="footer">
        <button class="active"><img src="../storage/Iconly.svg"> Home</button>
        <button><img src="../storage/Vector.svg"> Browse</button>
        <button><img src="../storage/Boarding pass.svg"> Tickets</button>
        <button><img src="../storage/Profile.svg"> Profile</button>
    </footer> 
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="../js/module/lugar.js"></script>
</body>
</html>