<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/lugar.css">
    <title>Lugar </title>
</head>
<body>
    <header class="header">
        <img src="../storage/Image.png" alt="Profile Picture">
        <div class="title">Hi, Ferrucio Tuccine!
            <br>Let's watch movie together!</div>
        <span class="notification">&#x1F514;</span>
    </header>

    <input type="text" class="search-bar" placeholder="Search movie, cinema, genre...">

    <div>
        <h2 class="section-title">Now playing</h2>
        <span class="see-all">See all</span>
    </div>
   
    <div class="movie-list">
        <div class="movie-card">
            <img src="../storage/Rectangle 4170.png" alt="Avatar 2 Poster">
            <div class="title">Avatar: The Way of Water</div>
            <div class="genre">Action, Adventure</div>
        </div>
        <div class="movie-card">
            <img src="../storage/Rectangle 4170.png" alt="Puss in Boots Poster">
            <div class="title">Puss in Boots: The Last Wish</div>
            <div class="genre">Animation, Adventure</div>
        </div>
        <div class="movie-card">
            <img src="../storage/Rectangle 4170.png" alt="Fast X Poster">
            <div class="title">Fast X</div>
            <div class="genre">Action, Thriller</div>
        </div>
        <div class="movie-card">
            <img src="../storage/Rectangle 4170.png" alt="Fast X Poster">
            <div class="title">Fast X</div>
            <div class="genre">Action, Thriller</div>
        </div>
    </div>
    
    <div class="movie-soon">
        <h2 class="section-title">Coming soon</h2>
        <span class="see-all">See all</span>
    </div>
    
    <div class="movie-comming">
        <img src="../storage/Rectangle 10.png" alt="Fast X Poster">
        <div class="movie-comming-content">
            <div class="title">Furious 10 (2002)</div>
            <div class="genre">Action, Thriller</div>
        </div>
            
    </div>
    <footer class="footer">
        <button class="active"><i class="icon">&#x1F3E0;</i> Home</button>
        <button><i class="icon">&#x1F50D;</i> Browse</button>
        <button><i class="icon">&#x1F3AA;</i> Tickets</button>
        <button><i class="icon">&#x1F464;</i> Profile</button>
    </footer>
</body>
</html>