<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tarjeta.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <header class="header">
        <button class="back-button">
            <i class='bx bx-chevron-left bx-md'></i>
        </button>
        <h3>Order Summary</h3>
        <button class="menu-button">
            <i class='bx bx-dots-vertical-rounded bx-md' ></i>
        </button>
    </header>

    <main id="main">
        <section class="movie_data">
            
        </section>
        <section class="order_details">

        </section>
        <section class="payment_method">
            <h4>Payment method</h4>
            <article class="payment_card">
                <div class="card_image">
                    <img src="./storage/img/" alt="">
                </div>
                <div class="card_detail">
                    <h5>MasterCard</h5>
                    <p> **** **** 0998 7865</p>
                </div>
                <div class="radio-button">
                    <input type="radio">
                </div>
            </article>
            <div class="timer">
                <span class="timer_text">Complete your payment in</span>
                <span class="time">04:59</span>
            </div>
        </section>
    </main>

    <footer class="footer">
        <button class="buy-ticket" id="buy">Buy ticket</button>
    </footer>
    <script src="../js/module/tarjeta.js"></script>
</body>
</html>