<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tarjeta.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <header class="header">
        <button class="back-button">
            <i class='bx bx-chevron-left bx-md'></i>
        </button>
        <h3>Order Summary</h3>
        <button class="menu-button">
            <i class='bx bx-dots-vertical-rounded bx-md' ></i>
        </button>
    </header>

    <main>
        <section class="movie_data">
            <article class="movie_image">
                <img src="./storage/img/Puss in Boots.png" alt="">
            </article>
            <article class="movie_details">
                <div class="movie_title_genre">
                    <h4>Puss In Boots The Last Wish</h4>
                    <p>Adventure</p>
                </div>
                <div class="movie_cine_date">
                    <h4>Hartono Mall</h4>
                    <p>Sun, 12 Feb 2023. 13:00</p>
                </div>
            </article>
        </section>
        <section class="order_details">
            <article class="order_number">
                <h4>Order Number :</h4>
                <p>123456786</p>
            </article>
            <article class="order_tickets_seat">
                <h4>1 Ticket</h4>
                <p>C5</p>
            </article>
            <article class="order_typeSeat_price">
                <h4>Regular Seat</h4>
                <p>$24.99 x 3</p>
            </article>
            <article class="order_service_price">
                <h4>Service Fee</h4>
                <p>$1,99 x 1</p>
            </article>
        </section>
        <section class="payment_method">
            <h4>Payment method</h4>
            <article class="payment_card">
                <div class="card_image">
                    <img src="./storage/img/Mastercard.png" alt="">
                </div>
                <div class="card_detail">
                    <h5>MasterCard</h5>
                    <p> **** **** 0998 7865</p>
                </div>
                <div class="radio-button">
                    <input type="radio">
                </div>
            </article>
            <div class="timer">
                <span class="timer_text">Complete your payment in</span>
                <span class="time">04:59</span>
            </div>
        </section>
    </main>

    <footer class="footer">
        <button class="buy-ticket">Buy ticket</button>
    </footer>
</body>
</html>