*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
    padding-left: 10px;
    font-family: sans-serif;
}
.ticket-container {
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    justify-content: center;
}
.header {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.back-button,
.more-options {
    position: absolute;
    top: 20px;
    font-size: 18px;
    color: #666666;
    cursor: pointer;
}
.back-button {
    left: 15px;
}
.more-options {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    right: 30px;
}
.screen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.asientos{
    padding: 15px 15px;
    
}
#myform{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.asientos__normal{
    margin-bottom: 30px !important;
}
.asientos__normal, 
.asientos__preferenciales{
    display: flex;
    gap: 10px;
    margin: 15px 0;
    flex-direction: column;
    align-items: center;
}
.asientos__normal div,
.asientos__preferenciales div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asientos__lista input[type="checkbox"],
.asientos__preferenciales input[type="checkbox"]{
    display: none;
}
.asientos__lista input[type="checkbox"] + label:before,
.asientos__preferenciales input[type="checkbox"] + label:before {
    content: "";
	float: left;
	margin: 0.5em 0.5em 0 0;
    font-family: "Inter_18pt-Regular";
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background: #323232;
    border-radius: 5px;
}
.asientos__lista input[type="checkbox"]:checked + label:after,
.asientos__preferenciales input[type="checkbox"]:checked + label:after {
    content: attr(data-place);
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: "Inter_18pt-Regular";
    align-items: center;
    float: left;
    background: #FE0000;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: -2.2em;
}
.asientos__lista input[type="checkbox"] + label:hover::before,
.asientos__preferenciales input[type="checkbox"] + label:hover::before {
    background: #FE0000;
}
.asientos__lista input[type="checkbox"] + label:hover::after,
.asientos__preferenciales input[type="checkbox"] + label:hover::after {
    cursor: pointer;
    content: attr(data-place);
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: "Inter_18pt-Regular";
    align-items: center;
    float: left;
    background: #FE0000;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: -2.2em;
}
.asientos__lista input[type="checkbox"].reserved + label:before,
.asientos__preferenciales input[type="checkbox"].reserved + label:before{
    content: "";
    background: #CECECE ;
}
.asientos__lista input[type="checkbox"].reserved + label:hover::after,
.asientos__preferenciales input[type="checkbox"].reserved + label:hover::after{
    content: attr(data-place);
    background: #CECECE ;
    cursor: default;
}
.asientos__menu{
    display: flex;
    justify-content: space-evenly;
}
.asientos__menu div{
    display: flex;
    gap:10px
}
.ciruclo3,
.ciruclo2,
.ciruclo1 {
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
}
.ciruclo2 {
    background-color: white;
}
.ciruclo3 {
    background-color: red;
}
.dates{
    padding-left: 10px;
    height: 35vh;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}
.time,
.day{
    display: flex;
    gap:15px;
    font-size: 20px;
    height: 40%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden; 
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.day::-webkit-scrollbar, 
.time::-webkit-scrollbar {
    display: none; 
}
.container-day,
.container-time{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    height: 70%;

}
.container-day{
    width: 15vw;
}
.container-time{
    width: 22vw;
}
.container-time .sub,
.container-day .tittle{
    color: gray;
}
.container-time .tittle,
.container-day .sub{
    font-weight: bold;
    color: black;
    font-size: 25px;
}
.selected {
    border-radius: 5px;
    background-color: red; 
    color: white;
}
.selected .sub,
.selected .tittle{
    color: white;
}
footer {
    display: flex;
    width: 90%;
    height: 6vh;
    padding-left: 10px;
    justify-content: space-between;
    font-size: 20px;
}
.price{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buy{
    background: red;
    width: 70%;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}