*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #fff;
    font-family: sans-serif;
    height: 110vh;
}

.main-container-soon,
.main-container{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.header img {
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.main-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-title small{
    color: gray;
}

.main-title div{
    font-size: 18px;
    font-weight: bold;
}

.header button {
    width: 10%;
    height: 5vh;
    background:none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.473);

}

.header button img{
    height: 70%;
    width: 70%;
}

.search-container {
    position: relative; 
    display: flex;
    align-items: center; 
    height: 10vh;
}

.search-icon {
    position: absolute; 
    left: 10px;         
    width: 20px;        
    height: 20px;       
}

.search-bar {
    width: 95%;
    height: 60%;
    
    padding-left: 40px;
    border-radius: 10px;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
}

.search-bar::placeholder {
    color: #aaa;
}

.playing{
    display:flex;
    width: 95%;
    justify-content: space-between;
}
.section-title {
    font-size: 20px;
    font-weight: bold;
}

.see-all {
    color: red;
    font-size: 17px;
    cursor: pointer;
}

.gallery {
    align-items: center;
    height: 55vh;
}

.flickity-viewport {
    margin: 0 auto; /* Centra el carrusel en su contenedor */
}


.gallery-cell {
  width: 60%;
  height: 90%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  font-size: 80px;
  color: white;
}

.flickity-page-dots {
    bottom: 5%; 
    text-align: center; 
}

.flickity-page-dots .dot {
    background: white;
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
    opacity: 1;
    margin: 0 2px;
}

.flickity-page-dots .dot.is-selected {
    background: red;
    width: 27px; 
    height: 10px; 
    border-radius: 5px;
}

.gallery-cell img {
    border-radius: 5px;
    width: 92%;
}  

.title {
    font-size: 19px;
    font-weight: bold;
    max-width: 98%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.genre {
   font-size: 16px;
   color:gray;
} 

.title,
.genre {
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.container-soon{
    display: flex;
    width: 94vw;
    justify-content: space-between;
    padding-left: 5%;
}

.main-container-soon{
    display: flex;
    flex-direction: column;
    height: calc(60vh - 15%);
    gap: 10px;
    padding-bottom: 20%;
    overflow-y: auto;
}

.movie-comming{
    display: flex; 
    width: 90vw;
    height: 10vh;
    gap: 5%;
    background: #272727;
    align-items:center;
    border-radius: 20px;
}
.movie-comming img{
    height: 85%;
    width: 25%;
    /* background: blue; */
    padding-left: 2%;
}
.movie-comming-content{
    display: flex;
    flex-direction: column;
    height: 70%;
    /* background: blue; */
}

.movie-comming-content .title{
    font-size: 18px;
    font-weight: bold;
}

.movie-comming-content .genre{
    font-size: 18px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 11%;
    border-radius: 20px; 
    background: #161616;
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border: 1.5px solid #ffffff33;
}


.footer button {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 10%;
    height: 41%;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer button.active {
    color: red;
}

.footer button img{
    font-size: 100px;
}